
a:hover{

        background-color:#98E4FF;
        text-decoration: none;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
 a:active{
    color: black;
}
#one{
    margin-left: -100px;
}
